@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Rubik:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
}

h1 {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    margin: 1.6rem 0;
}

h2, h3, strong {
    font-weight: 600;
    margin: 1.6rem 0;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

p, a {
    font-weight: 400;
    font-size: 1.6rem;
}

p {
    margin: 1.6rem 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    width: 100%;
    height: auto;
}

.layout {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section {
    padding: 100px 0;
}

/* Hero Image */

header {
    background-image: url(/assets/images/chordconnect-hero-image-edited.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Logo */

.logo h1 {
    font-size: 2.8rem;
    margin: 1.5rem;
    color: #ffffff;
    background-color: #87614b;
    padding: 1rem;
    border: 0.5rem solid #ffffff;
    border-radius: 1rem;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: #58321C;
    margin-top: 0rem;
    padding: 0.1rem;
    box-shadow: 0 1px 5px #58321C;
    opacity: 0.9;
}

.main_nav {
    list-style-type: none;
    margin: 1.5rem 1rem;
}

.main_nav li {
    display: inline-block;
    margin-left: 1rem;
    font-size: 3.2rem;
    padding: 1rem;
}

.main_nav li a:hover {
    color: #87614b;
    transition: .1s ease-in-out;
}

.navbar_toggle {
    display: none;
}


@media only screen and (max-width: 897px) {
    .logo h1 {
        font-size: 2.8rem;
        margin: 1.5rem;
        color: #ffffff;
        background-color: #87614b;
        padding: 1rem;
        border: 0.5rem solid #ffffff;
        border-radius: 1rem;
    }
    nav {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        background-color: #58321C;
        margin-top: 0rem;
        padding: 0.1rem;
        box-shadow: 0 1px 5px #58321C;
        opacity: 0.9;
    }
    .main_nav {
        display: none;
    }
    .navbar_toggle {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 2.8rem;
        color: #ffffff;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }
    .show_nav{
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-flow: column wrap;
        align-items: center;
    }
}

@media only screen and (max-width: 412px) {
    .logo h1 {
        font-size: 2.2rem;
        margin: 1.5rem;
        color: #ffffff;
        background-color: #87614b;
        padding: 1rem;
        border: 0.5rem solid #ffffff;
        border-radius: 1rem;
    }
    nav {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        background-color: #58321C;
        margin-top: 0rem;
        padding: 0.1rem;
        box-shadow: 0 1px 5px #58321C;
        opacity: 0.9;
    }
    .main_nav {
        display: none;
    }
    .navbar_toggle {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 2.2rem;
        color: #ffffff;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }
    .show_nav{
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-flow: column wrap;
        align-items: center;
    }
}

@media only screen and (max-width: 340px) {
    .logo h1 {
        font-size: 2rem;
        margin: 1.5rem;
        color: #ffffff;
        background-color: #87614b;
        padding: 1rem;
        border: 0.5rem solid #ffffff;
        border-radius: 1rem;
    }
    nav {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        background-color: #58321C;
        margin-top: 0rem;
        padding: 0.1rem;
        box-shadow: 0 1px 5px #58321C;
        opacity: 0.9;
    }
    .main_nav {
        display: none;
    }
    .navbar_toggle {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 2rem;
        color: #ffffff;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }
    .show_nav{
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-flow: column wrap;
        align-items: center;
    }
}

@media only screen and (max-width: 316px) {
    .logo h1 {
        font-size: 1.6rem;
        margin: 1.5rem;
        color: #ffffff;
        background-color: #87614b;
        padding: 1rem;
        border: 0.5rem solid #ffffff;
        border-radius: 1rem;
    }
    nav {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        background-color: #58321C;
        margin-top: 0rem;
        padding: 0.1rem;
        box-shadow: 0 1px 5px #58321C;
        opacity: 0.9;
    }
    .main_nav {
        display: none;
    }
    .navbar_toggle {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1.6rem;
        color: #ffffff;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }
    .show_nav{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: column wrap;
    align-items: center;
    }
}