@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
}

h1 {
    font-family: Comfortaa, sans-serif;
    font-weight: 700;
}

h2 {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    font-style: italic;
}

.header-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 20px;
    padding-left: 50px;
}

.header-content li {
    list-style-type: none;
    letter-spacing: 3px;
    margin-top: -31px;
    padding: 20px;
}

.header-content a {
    text-decoration: none;
}