@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
}

h1 {
    font-family: Comfortaa, sans-serif;
    color: #58321C;
}

h2 {
    font-weight: 300;
    font-style: italic;
    color: #58321C;
    font-size: xx-large;
}

/* navigation links */

.header-title {
    display: flex;
    background-color: #ffffff;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header-title > div {
    background-color: #ffffff;
    margin: 1rem;
    margin-top: 0.5rem;
    height: 1.7rem;
}

.header-title a {
    text-decoration: none;
    color: #58321C;

}

.header-title li {
    list-style: none;
    text-shadow: none;
    padding: 0.5rem;
}

.nav-links {
    display: flex;
    flex-flow: row wrap;
    background-color: #ffffff;
    border-style: solid;
    border-color: #58321C;
    border-width: 0.125rem;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.nav-links li {
    padding: 0.4rem;
}

header {
    position: fixed;
    width: 100%;
}

.logo {
    margin: 1.5rem;
    margin-top: 0.8rem;
}

/* hero image */

#background-video {
    width: 100%;
    height: 650px;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    opacity: 0.9;
  }

#homepage-banner {
    display: flex
}

#banner-overlay {
    background-color: #ffffff;
    width: 480px;
    height: 500px;
    border-radius: 5%;
    margin: 4rem;
    margin-top: 12rem;
    opacity: 0.4;
    position: relative;
}

/* tutor information */

#tutor-info-container {
    background-color: #B08F72;
    height: 500px;
    margin-top: 500px;
}

.tutor-flex {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.subheading-tutor-flex {
    display: flex;
    justify-content: center;
}

.tutor-layout {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px;
    
}

/* testimonials section */

#testimonial-container {
    display: flex;
    background-color: #ffffff;
    height: 400px;
    margin-top: 0px;
}

#gallery-container {
    display: flex;
    background-color: #ffffff;
    height: 400px;
    margin-top: 0px;
}

#footer-container {
    display: flex;
    background-color: #B08F72;
    height: 400px;
    margin-top: 0px;
}