@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Rubik:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;    
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
}

h1 {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    margin: 1.6rem 0;
}

h2, h3, strong {
    font-weight: 600;
    margin: 1.6rem 0;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

p, a {
    font-weight: 400;
    font-size: 1.6rem;
}

p {
    margin: 1.6rem 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 100px 0;
}

/* Hero Image */

header {
    background-image: url(/assets/images/chordconnect-hero-image-edited.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

/* Logo */

.logo h1 {
    font-size: 2.8rem;
    margin: 1.5rem;
    color: #ffffff;
    background-color: #87614b;
    padding: 1rem;
    border: 0.5rem solid #ffffff;
    border-radius: 1rem;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: #58321C;
    margin-top: 0rem;
    padding: 0.1rem;
    box-shadow: 0 1px 5px #58321C;
    opacity: 0.9;
}

.main_nav {
    list-style-type: none;
    margin: 1.5rem 1rem;
}

.main_nav li {
    display: inline-block;
    margin-left: 1rem;
    font-size: 3.2rem;
    padding: 1rem;
}

.main_nav li a:hover {
    color: #87614b;
    transition: .1s ease-in-out;
}

.navbar_toggle {
    display: none;
}

.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 99;
}

/* Banner Text */

.banner-text {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #1c1c1c66;
    margin-top: 21rem;
    padding: 2.5rem;
    width: 55rem;
    text-align: center;
    border-radius: 2rem;
    height: 24rem;
}

.banner-text h2, .banner-text p {
    color: #ffffff;
    text-shadow: 0 2px 2px #000;
}

.banner-text a {
    border: 0.3rem solid #ffffff;
    border-radius: 0.4rem;
    padding: 0.5rem;
    color: #000;
    background-color: #ffffff;
    font-weight: bold;
}

.banner-text a:hover {
    border: 0.3rem solid #ffffff;
    border-radius: 0.4rem;
    padding: 0.5rem;
    color: #ffffff;
    background-color: #1c1c1c66;
    font-weight: bold;
    transition: .3s ease-in-out;
}

/* About Us Section */
#about-us {
    margin-top: 0rem;
}

.about-us-subheading {
    display: flex;
    justify-content: center;
    margin-top: 3.2rem;
}

.about-us-subheading h2 {
    border: 0.3rem solid #58321C;
    border-radius: 0.5rem;
    box-shadow: -10px 10px 1px #58321C;
    padding: 1.5rem;
    color: #ffffff;
    background-color: #87614b;
}

.about-us-layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: auto;
    flex-flow: row nowrap;
}

.about-middle p {
    font-size: 1.7rem;
    height: 44rem;
    text-align: center;
}

.about-left ,
.about-middle ,
.about-right {
    flex-basis: 30%;
}

.about-left img,
.about-right img {
    height: auto;
    margin-top: -13.5rem;
}

/* Tutor Section */

#tutors {
    margin-top: -10rem;
}

#tutors > p {
    text-align: center;
    font-size: 1.5rem;
}

.tutors-subheading {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}

.tutors-subheading h2 {
    border: 0.3rem solid #58321C;
    border-radius: 0.5rem;
    box-shadow: -10px 10px 1px #58321C;
    padding: 1.5rem;
    color: #ffffff;
    background-color: #87614b;
}

.tutors-layout {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: auto;
    flex-flow: row nowrap;
}

.flip-card {
    background-color: #ffffff;
    width: 30rem;
    height: 30rem;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #93715d;
    color: #000;
    transform: rotateY(180deg);
    height: 45rem;
    padding: 1rem;
    border: 3px solid #93715d;
    border-radius: 5px;
}

.flip-card-back p {
    font-size: 1.5rem;
    text-align: left;
}

flip-card-front > img {
    width:30rem;
    height: auto;
}

/* Testimonials */

#testimonials {
    margin-top: 15rem;
    background-color: #87614b;
}

.testimonials-subheading {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}

.testimonials-subheading h2 {
    border: 0.3rem solid #58321C;
    border-radius: 0.5rem;
    box-shadow: -10px 10px 1px #58321C;
    padding: 1.5rem;
    color: #ffffff;
    background-color: #87614b;
}

.testimonials-layout {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: column;
    margin-top: -6rem;
}

#testimonials .testimonials-content {
    background-color: #87614b;
    padding: 3rem;
    margin: 8rem 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.testimony-image {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 0.5rem solid #ffffff;
}

.testimony-image img {
    height: 200px;
    width: 200px;
}

.testimony-text {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
    color: #ffffff;
}

.star-icon {
    font-size: 3.5rem;
}

.testimony-text p {
    margin: 0 40rem;
}

/* Sign Up Form */

#sign-up-form {
    margin-top: 0rem;
    background-color: #ffffff;
}

.sign-up-subheading {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}

.sign-up-subheading h2 {
    border: 0.3rem solid #58321C;
    border-radius: 0.5rem;
    box-shadow: -10px 10px 1px #58321C;
    padding: 1.5rem;
    color: #ffffff;
    background-color: #87614b;
}

.sign-up-layout {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: column;
    margin-top: 0.5rem;
}

.form-back {
    padding: 2rem 5rem;
    margin: 1rem;
    border: 0.3rem solid #58321C;
    background-color: #9e6747b0;
    border-radius: 1rem;
    box-shadow: 1px 5px 8px #58321C;
}

.form-content {
    font-size: 3rem;
}

.form-content p {
    font-size: 3rem;
}

.form-content input, .guitar-skill-level-input, .survey-input, .extra-info-input {
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
}

form button {
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    border-color: #87614b;
    background-color: #87614b;
    color: #ffffff;
    margin-left: 35%;
    box-shadow: 0 3px 3px #58321C;
}

form button:hover {
    color: #58321C;
    transition: .1s ease-in-out;
}

form button:active {
    background-color: #58321C;
    color: #ffffff;
    box-shadow: 0 5px 5px #87614b;
    transform: translateY(4px);
}

/* Footer */

footer {
    background-color: #694733;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 0.1rem;
}

footer h2 {
    color: #ffffff;
}

.social-media {
    list-style-type: none;
    margin: 1rem 1rem;
}

.social-media li {
    display: inline-block;
    padding: 1rem;
}

.social-media li a:hover {
    color: #87614b;
    transition: .1s ease-in-out;
}


/* Media Queries */

/* Media Queries - Navbar */

@media only screen and (max-width: 897px) {
    .main_nav {
        display: none;
    }
    .navbar_toggle {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 2.8rem;
        color: #ffffff;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }
    .show_nav{
        display: flex;
        width: 100vw;
        height: 50%;
        flex-flow: column wrap;
        align-items: center;
    }
}

@media only screen and (max-width: 412px) {
    .logo h1 {
        font-size: 2.2rem;
    }
    .navbar_toggle {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 340px) {
    .logo h1 {
        font-size: 2rem;
    }
    .navbar_toggle {
        font-size: 2rem;
    }
}

/* Media Queries - Banner Text */

@media only screen and (max-width: 1150px) {
    .banner-text {
        width: 45rem;
        padding: 1.5rem;
    }
}

@media only screen and (max-width: 885px) {
    .banner-text {
        margin-top: 17rem;
        width: 29rem;
        height: 36rem;
    }
    
}

@media only screen and (max-width: 575px) {
    .banner-text {
        padding: 1rem;
        width: 16rem;
        height: 38rem;
    }
    .banner-text a {
        font-size: 1.2rem;
        padding: 0.1rem;
    }
}

@media only screen and (max-width: 375px) {
    .banner-text {
        margin-top: 18rem;
        margin-left: 0rem;
        width: 15rem;
        height: 32rem;
    }
    .banner-text h2 {
        font-size: 1.8rem;
    }
    .banner-text p {
        font-size: 1.4rem;
    }
}

/* Media Queries - About Us */

@media only screen and (max-width: 1025px) {
    .about-middle p {
        width: 46rem;
    }
    #about-us {
        margin-top: -9.2rem;
    }
    .about-us-subheading h2 {
        font-size: 2rem;
    }
    .about-left ,
    .about-middle ,
    .about-right {
    flex-basis: 25%;
    }
}

@media only screen and (max-width: 851px) {
    .about-middle p {
        font-size: 1.65rem;
        width: 30rem;
    }
    .about-us-subheading {
        margin-top: 0rem;
    }
    .about-us-subheading h2 {
        font-size: 1.7rem;
    }
    .about-left ,
    .about-middle ,
    .about-right {
    flex-basis: 27.8%;
    }
    .about-left img, 
    .about-right img {
        margin-top: -5.5rem;
    }
}

@media only screen and (max-width: 745px) {
    .about-left img, 
    .about-right img {
        display: none;
    }
    .about-middle p {
        height: 24rem;
    }
}

@media only screen and (max-width: 413px) {
    .about-middle p {
        padding: 0.1rem;
    }
    #about-us {
        margin-top: -8.4rem;
    }
}

@media only screen and (max-width: 320px) {
    #about-us {
        margin-top: -8.2rem;
    }
}

/* Media Queries - Tutor */

@media only screen and (max-width: 1025px) {
    .tutors-subheading h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 871px) {
    .flip-card-back {
        height: 52rem;
    }
}

@media only screen and (max-width: 851px) {
    .tutors-subheading h2 {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 769px) {
    #tutors {
        margin-top: -17rem;
    }
    .flip-card-back h3 {
        font-size: 1.6rem;
    }
    .flip-card-back p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 745px) {
    #tutors {
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .tutors-layout {
        flex-flow: column nowrap;
    }
    .flip-card {
        width: 26rem;
        margin-bottom: 23rem;
    }
}

@media only screen and (max-width: 413px) {
    #tutors {
        margin-top: 8rem;
    }
}

/* Media Queries - Testimonials */

@media only screen and (max-width: 1246px) {
    .testimony-text p {
        margin: 0 30rem;
    }
    .star-icon {
        font-size: 3.3rem;
    }
}

@media only screen and (max-width: 1061px) {
    .testimony-text p {
        margin: 0 25rem;
    }
}


@media only screen and (max-width: 1025px) {
    .testimonials-subheading h2 {
        font-size: 2rem;
    }
    .star-icon {
        font-size: 3rem;
    }
    .testimonials-layout {
        margin-top: -9rem;
    }    
    #testimonials .testimonials-content {
        margin-bottom: -6.5rem;
    }
    .testimony-text p {
        margin: 0 20rem;
    }
}

@media only screen and (max-width: 851px) {
    .testimonials-subheading h2 {
        font-size: 1.7rem;
    }
    .testimony-text h3 {
        font-size: 1.6rem;
    }
    .star-icon {
        font-size: 2.5rem;
    }
    .testimony-text p {
        margin: 0 15rem;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    #testimonials {
        margin-top: 9rem;
    }
    .testimonials-layout {
        margin-top: -8rem;
    }
    .testimony-text p {
        font-size: 1.4rem;
        margin: 0 10rem;
    }
    #testimonials .testimonials-content {
        margin-bottom: -6rem;
    }
}

@media only screen and (max-width: 600px) {
    #testimonials {
        margin-top: -2rem;
    }
    .testimonials-subheading {
        margin-top: -1rem;
    }
    .testimonials-layout {
        margin-top: -9rem;
    }    
    .testimony-image {
        width: 180px;
        height: 180px;
    }
    .testimony-image img {
        height: 180px;
        width: 180px;
    }
    #testimonials .testimonials-content {
        margin-bottom: -5.5rem;
    }
    .testimony-text p {
        margin: 0 5rem;
    }
}

@media only screen and (max-width: 531px) {
    .testimony-text p {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 413px) {
    .testimony-image {
        width: 150px;
        height: 150px;
    }
    .testimony-image img {
        height: 150px;
        width: 150px;
    }
    .star-icon {
        margin-top: 0.1rem;
    }
    #testimonials .testimonials-content {
        margin-bottom: -5rem;
    }
    .testimony-text p {
        margin: 0 0.1rem;
    }
}

/* Media Queries - Sign Up */

@media only screen and (max-width: 1025px) {
    .sign-up-subheading h2 {
        font-size: 2rem;
    }
    .form-back {
        padding: 1.8rem 4rem;
    }
    
    .form-content {
        font-size: 2.5rem;
    }
    
    .form-content p {
        font-size: 2.5rem;
    }
    
    form button {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 851px) {
    .sign-up-subheading h2 {
        font-size: 1.7rem;
    }
    .form-back {
        padding: 1.8rem 3.5rem;
    }
    
    .form-content {
        font-size: 2.3rem;
    }
    
    .form-content p {
        font-size: 2.3rem;
    }
    
    form button {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 376px) {
    form button {
    margin-left: 30%;
    }
}

@media only screen and (max-width: 321px) {
    form button {
    margin-left: 26%;
    }
}